
/*中间内容*/
#main{
    margin-top: 50px;
}
#main_left{
    width: 840px;
    float: left;
}
#main_right{
    width: 280px;
    float: right;
}
/*1.左部分*/
.Wenda{
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    background: url("../yw/wenda_title_bg.png");
    background-size: contain;
}
.Wenda span{
    display: inline-block;
    width: 280px;
    line-height: 80px;
    height: 80px;
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
}
.Wenda a{
    display: inline-block;
    font-size: 16px;
    width: 160px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    background: red;
    color: #fff;
    float: right;
    margin:20px 40px 0 0 ;
}
.main_left-nav{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d6d9;
}
.main_left-nav a{
    display: inline-block;
    margin-right: 50px;
    color: #5e5e5e;
    font-size: 16px;
}
.main_left-nav a:nth-child(1){
    color: red;
}
.recommend li{
    padding: 20px 40px;
    border-bottom: 1px solid #d0d6d9;
}
.recommend a {
    display: inline-block;
    font-size: 14px;
    color: #14191e;
}
.wenda_list{
    position: relative;
    padding-left: 56px;
    padding-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d0d6d9;
}
.list_icon{
    position: absolute;
    top: 25px;
    left: 0;
    width: 40px;
    height: 40px;
}
.list_icon img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.come_from a{
    display: inline-block;
    color: #5e5e5e;
    font-size: 14px;
}
.come_from span{
    display: inline-block;
    color: #5e5e5e;
    font-size: 14px;
    margin-bottom: 5px;
}
.Question a{
    display: inline-block;
    line-height: 28px;
    word-break: break-all;
    font-size: 18px;
    font-weight: 600;
    color: #14191e;
}
.Tourist{
    margin-top: 25px;
}
.Tourist a{
    font-size: 14px;
    font-weight: 600;
    color: #14191e;
    margin-right: 5px;
}
.Tourist span{
    display: inline-block;
    color: #5e5e5e;
    font-size: 14px;
}
.Tourist p{
    color: #14191e;
    font-size: 14px;
    margin: 15px 0 20px 0;
}
.attitude a{
    display: inline-block;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 15px;
}
.agree{
    display: inline-block;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #d0d6d9;
}
.agree:hover{
    border: 1px solid #14191e;;
}
/*2.右部分*/
.recommend_title{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #d0d6d9;
}
.recommend_title span{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.recommend_title a{
    display: inline-block;
    float: right;
    color: #787d82;
    font-size: 14px;
}
.class_info{
    width: 100%;
    position: relative;
}
.class_name{
    padding: 25px 0 10px 50px;
}
.class_name h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}
.class_name p{
    line-height: 18px;
    color: #b5b9bc;
    font-size: 12px;
}
.attention{
    position: absolute;
    right: 0;
    top: 30px;
}
.attention a{
    display: inline-block;
    font-size: 14px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d0d6d9;
}
.attention a:hover{
    border: 1px solid #14191e;;
}
.intro{
    color: #787d82;
    line-height: 24px;
    font-size: 14px;
    word-break: break-all;
}
.audition{
    margin: 30px 0;
}
.hot_ques{
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d6d9;
}
.hot_ques h4{
    font-size: 16px;
    font-weight: bold;
}
.ques_list{
    padding: 20px 0;
    border-bottom: 1px solid #d0d6d9;
}
.ques_list p{
    line-height: 22px;
    font-size: 14px;
    word-break: break-all;
    text-align: left;
    color: #14191e;
    margin-bottom: 10px;
}
.ques_list>span{
    display: inline-block;
    color: #b5b9bc;
    font-size: 14px;
    margin-right: 20px;
}
.ques_list a{
    display: inline-block;
    float: right;
}
.ques_list a span{
    font-size: 14px;
    color: #b5b9bc;
}
.leifeng_box{
    padding-top: 30px;
    border-bottom: 1px solid #d0d6d9;
}
.leifeng_box span{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #14191e;
    padding-bottom: 20px;
}
.nowDay{
    margin-left: 110px;
    cursor: pointer;
}
.oneWeek{
    margin-left: 10px;
    cursor: pointer;
}
.Day_on{
    border-bottom: 1px solid red;
}
.leifeng_list{
    height: 370px;
    width: 100%;
    overflow: hidden;
}
.leifeng_list li{
    padding-left: 90px;
    height: 40px;
    margin-top: 30px;
    position: relative;
}
.rang_Num{
    position: absolute;
    left: 10px;
    top: 7px;
    width: 30px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #f8b551;
}
.head_portrait{
    position: absolute;
    left: 40px;
    top: 0;
    width: 40px;
    height: 40px;
}
.head_portrait img{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0;
}
.user_name a{
    font-size: 14px;
    font-weight: 600;
    color: #787d92;
    line-height: 20px;
    text-align: left;
}
.role{
    font-size: 12px;
    color: #b5b9bc;
    line-height: 20px;
    text-align: left;
}
.answer_num{
    font-size: 12px;
    color: #b5b9bc;
    line-height: 20px;
    float: right;
}
.leifeng_yc{
    height: 45px;
    border-bottom: 1px solid #edf1f2;
    text-align: center;
    cursor: pointer;
    color: #b5b9bc;
    margin-top: 10px;
}
.leifeng_yc span {
    display: block;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
}
.leifeng_yc span:hover {
    background-color: #f3f5f7;
    border: 1px solid #d9dde1;
}

/*3.翻页部分*/
#pages{
    margin: 50px 0 20px;
    height: 39px;
    text-align: center;
}
#pages a{
    display: inline-block;
    margin: 0 5px;
    padding: 0 5px;
    min-width: 20px;
    height: 29px;
    line-height: 30px;
    font-size: 14px;
    color: #787d82;
    text-align: center;
}
.pages_num{
    width: 25px;
    background: red;
}
